
/*-----------------------------variables--------------------------------*/
:root{
    --claro : rgb(255, 255, 255);
    --negro : rgb(14, 15, 15);
    --gris : rgb(43, 44, 40);
    --celeste-oscuro : rgb(51, 153, 137);
    --celeste-claro : rgb(125, 226, 209);
    --Azul-persa-medio : rgb(0, 103, 165);
    --Blue-jeans : rgb(90, 174, 243);
    --Sandy-Brown : rgb(243, 159, 90);

    /*------------------------colores con alfa-------------------------*/

    --Blue-jeans-alfa : rgba(90, 174, 243, 0.6);
    --Azul-persa-medio-alfa: rgba(0, 103, 165, 0.6);
    --gris-alfa : rgba(43, 44, 40, 0.6);
    --Sandy-Brown-alfa : rgba(243, 159, 90, 0.6);
}

/*-----------------------------Ajuste de pie de paguina--------------------------------*/
footer{
    min-height: 60px;
	padding-top: 0px;
	background-color: var(--gris);
    border: 5px, dotted, var(--negro);
	margin-top: 0px;
    display: flex;
    justify-content: left; /* acomodar a la izquierda */
	align-items: center; /* Centra verticalmente */

}

.button_container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: right;
    padding-right: 10px;
}

.button_container a{
    padding-right: 10px;
}

footer img{
    height: 30px;

}

footer h4{
    width: 100%;
}

.footer_text{
    color: var(--claro);
    text-align: left;
    padding-left: 10px;

}
